body {
	background: #dcdcdc;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 62px;
	width: 100%;
	background: #81589f;
	border: 1.5px solid black;
	z-index: 5;
}

.title {
	position: relative;
	left: 5px;
	top: 10px;
	height: 100%;
	width: 30%;
	font-size: 26pt;
}

.profile {
	position: fixed;
	top: 4px;
	right: 10px;
	height: 55px;
	width: 80px;
	background: #81589f;
}

.profile-small {
	position: absolute;
	top: 62px;
	right: 0px;
	height: 58px;
	width: 270px;
	border: 1.5px solid black;
	z-index: 1;
	background: #8582bc;
	display: none;
}

.profile-photo {
	position: absolute;
	top: -1px;
	right: 0px;
	height: 55px;
	border: 2px solid black;
	margin-left: 10px;
}

.nick {
	position: absolute;
	top: 5px;
	right: 80px;
	font-size: 20pt;
}

.exit-button {
	position: absolute;
	bottom: 0px;
	right: 80px;
	width: 50px;
	font-size: 8pt;
	background: #e08860;
	border: 1px solid black;
}

/*.login-button {
	position: fixed;
	right: 15px;
	top: 3%;
	font-size: 2.5vh;
	background: purple;
	border: none;
}

.login-button:hover {
	color: lightgray;
}*/

.filters-list {
	position: fixed;
	right: 20px;
	top: 80px;
	width: 200px;
	height: 90px;
	background: white;
	border: 1px solid black;
	z-index: 2;
}

.filters-list-title {
	position: relative;
	top: 3px;
	font-size: 22pt;
}

.filters-add-button {
	position: absolute;
	bottom: 6px;
	right: 4px;
	background: #e08860;
	border: 1px solid black;
}

.filters-add-button-small {
	top: 130px;
}

.upload-area {
	position: fixed;
	left: 20px;
	top: 80px;
	width: 200px;
	height: 140px;
	background: white;
	border: 1px solid black;
	text-align: center;
	z-index: 2;
}

.upload-area-title {
	position: relative;
	top: 45%;
	font-size: 14pt;
	color: #dcdcdc;
	display: block;
}

.upload-area-button {
	position: absolute;
	top: 102%;
	left: 2px;
	width: 98%;
	background: #e08860;
	border: 1px solid black;
}

.go-up-button {
	position: fixed;
	left: 20px;
	top: 250px;
	height: 100%;
	width: 100px;
	border: none;
	color: #dcdcdc;
	background: #dcdcdc;
	padding-bottom: 45%;
}

.go-up-button:hover {
	background: #f4f4f4;
	color: lightgray;
}

.go-up-button:focus {
	outline: 0;
}

.go-up-button-small {
	top: 450px;
}

.small-button {
	position: fixed;
	left: 0px;
	width: 55px;
	height: 55px;
	font-size: 12pt;
	background: #8582bc;
	color: white;
	border: 1px solid black;
	z-index: 1;
	display: none;
}

.button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
	border: solid 1px gray;
}

.button:hover {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
}

.button:focus {
	outline: 0;
}

.upload-button-small {
	top: 70px;
}

.news-area {
	position: relative;
	height: 100%;
	width: 800px;
	margin-bottom: 20px;
	background: white;
	border: 1px solid black;
}

.posts {
	list-style: none;
	margin-top: 9%;
	padding-top: 20px;
	padding-left: 0px;
	width: 85%;
}

.post {
	position: relative;
	border: 2px solid black;
	margin-bottom: 50px;
	width: 60%;
	padding: 8px 14px 10px 12px;
}

.photo-container {
	position: relative;
}

.post img {
	border: 2px solid black;
	width: 100%;
}

.underphoto-text {
	list-style: none;
	text-align: left;
	padding-left: 0;
}

.post-description {
	height: 60px;
	overflow: overlay;
}

.load-button {
	border: 1px solid black;
	background: white;
	font-size: 14pt;
	margin-bottom: 20px;
}

.like-button {
	bottom: -40px;
	right: -2px;
	background: #dc78ad;
}

.edit-button {
	top: 2px;
	right: 42px;
	background: #e8a765;
}

.remove-button {
	top: 2px;
	right: -2px;
	background: #e08860;
}

.photo-button {
	position: absolute;
	height: 40px;
	width: 40px;
	opacity: 0.6;
	border: 1px solid black;
	border-radius: 5px;
}

/* .show-buttons-button {
	position: absolute;
	right: -2px;
	top: 2px;
	width: 15px;
	height: 25px;
	background: white;
	border: none;
}

.show-buttons-button:focus {
	outline: 0;
} */

footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 125px;
	background: #dc78ad;
	border: 1px solid black;
	font-size: 12pt;
	margin-bottom: 0px;
	margin-top: 0px;
}

footer > ul {
	list-style: none;
	padding-right: 30px;
}

@media screen and (min-width: 2000px) {
	.news-area {
		width: 1400px;
	}

	.header {
		height: 100px;
	}

	.title {
		padding-top: 10px;
		font-size: 40pt;
	}

	.profile {
		height: 95px;
	}

	.profile-photo {
		height: 95px;
	}

	.nick {
		font-size: 36pt;
		right: 150px;
	}

	.exit-button {
		font-size: 20pt;
		right: 150px;
		width: 80px;
		padding-top: 2px;
	}

	.upload-area {
		top: 120px;
		width: 400px;
		height: 300px;
	}

	.upload-area-title {
		font-size: 24pt;
	}

	.upload-area-button {
		font-size: 16pt;
	}

	.filters-list {
		top: 120px;
		width: 300px;
		height: 150px;
	}

	.filters-add-button {
		font-size: 16pt;
	}

	.filters-list-title {
		font-size: 24pt;
	}

	.photo-button {
		height: 80px;
		width: 80px;
	}

	.edit-button {
		right: 82px;
	}
}

@media screen and (max-width: 1350px) {
	.news-area {
		width: 600px;
	}

	.photo-button {
		width: 36px;
		height: 36px;
	}

	.edit-button {
		right: 38px;
	}
}

@media screen and (max-width: 1050px) {
	.news-area {
		width: 100%;
		padding-top: 10px;
	}

	.upload-area {
		display: none;
	}

	.filters-list {
		display: none;
	}

	.posts {
		width: 100%;
	}

	.small-button {
		height: 80px;
		width: 80px;
		display: block;
	}

	.upload-button-small {
		top: 90px;
	}

	.filters-add-button-small {
		top: 180px;
	}

	.photo-button {
		height: 50px;
		width: 50px;
	}

	.like-button {
		bottom: -50px;
	}

	.edit-button {
		right: 52px;
	}

	.header {
		height: 70px;
	}

	.title {
		left: 10px;
		top: 14px;
		font-size: 28pt;
	}

	.profile {
		height: 65px;
	}

	.profile-photo {
		height: 65px;
	}

	.nick {
		right: 100px;
	}

	.exit-button {
		right: 100px;
	}

	.go-up-button {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.small-button {
		height: 65px;
		width: 65px;
		display: block;
	}

	.filters-add-button-small {
		top: 155px;
	}

	.photo-button {
		height: 40px;
		width: 40px;
	}

	.edit-button {
		right: 42px;
	}

	.go-up-button {
		display: none;
	}
}

@media screen and (max-width: 380px) {
	.small-button {
		height: 45px;
		width: 45px;
	}

	.upload-button-small {
		top: 70px;
	}

	.filters-add-button-small {
		top: 115px;
	}

	.profile {
		display: none;
	}

	.title {
		bottom: 5px;
		width: 100%;
		text-align: center;
	}

	.header {
		height: 58px;
	}

	.profile-small {
		display: block;
	}

	.news-area {
		padding-top: 75px;
	}

	.profile-photo {
		top: 2px;
		height: 50px;
		margin-right: 3px;
	}

	.exit-button {
		bottom: 3px;
	}

	.go-up-button {
		display: none;
	}
}

::-webkit-scrollbar {
	width: 6px;
	background: lightgray;
	z-index: 5;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
  background: lightgray; 
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}